# Node
node_modules/
dist/
build/

# Logs
*.log

# Environment
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Cache
.cache/
coverage/

# Archives
*.zip

# FFmpeg outputs
exports/
cache/

# Vite
vite.svg
